---
layout: default

header:
  headingText: Hack The<br>Valley 3
  subtitleText: February 22-24 | UofT Scarborough
  emailPlaceholderText: Enter your email address

nav:
  - text: About
    scroll: true
    link: "#about"
  - text: FAQs
    scroll: true
    link: "#faq"
  - text: Sponsors
    scroll: true
    link: "#sponsors"
  - text: Partners
    scroll: true
    link: "#partners"
  - text: Acceptances
    scroll: false
    link: "https://acceptance.hackthevalley.io/"

about:
  headingText: About
  bodyText: >-
    Join 500 innovative and creative developers, designers, and creators for
    <strong>36 hours of hacking</strong>. You'll get access to some of the
    best hardware and APIs on the market. Plus get to meet some experienced
    and awesome mentors! All this in just one weekend? I know, it's hard to
    believe.
    <br>
    <br>
    Remember, you don't need to be a pro to attend. So, if this is your first
    hackathon, we can't wait to expose you to the incomparable world of
    creation.

faq:
  columns:
    - - headingText: Where is it?
        bodyText: >-
          University of Toronto Scarborough, 1095 Military
          Trail, Scarborough, ON M1C 1A4, Canada
        backgroundColor: "red"

      - headingText: Am I Accepted?
        bodyText: >-
          We have already sent out our acceptances! Please check your spam box if you can't find it. You can also login with your hacker account <a href="https://acceptance.hackthevalley.io">here</a> to check your status!
        backgroundColor: "brown"

      - headingText: Once I am accepted, what do I need to bring?
        bodyText: >-
          You’ll need: A laptop and charger. Everything else is optional. However, we strongly encourage you to bring a sleeping bag, pillows, toiletries, and a couple of changes of clothes.
          <br/><br/>
          You won’t need: An idea, or a team. You can create your own team (teams of 4 recommended) during the hackathon, and generate some amazing creations along the way. You also don’t need to worry about food, we’ve got you covered.
        backgroundColor: "green"

    - - headingText: When/where can I hack?
        bodyText: >-
          Hack The Valley will start with the kick-off ceremony. There will be
          events planned throughout the day for those who arrive early. A
          detailed schedule of events and locations will be posted later. All
          work eligible for prizes must be completed between Friday night after
          the kick-off and Sunday morning at the hacking location (TBA). We will
          not accept any projects that were started prior to the hackathon (e.g.
          continuations of personal projects).
        backgroundColor: "green"

      - headingText: How much will Hack the Valley cost me?
        bodyText: >-
          It’s completely free, so don’t worry! We'll provide you with a weekend's worth of meals, drinks, and snacks and a place to crash when you need a break from coding. In fact, you’ll probably walk away loaded with all the swag that you’ll get at Hack the Valley.
        backgroundColor: "red"

    - - headingText: How is Hack The Valley run?
        bodyText: >-
          Hack The Valley almost entirely by (sleep-deprived) University of
          Toronto students, with some advice and assistance from our friends
          at Department of Student Life (DSL) and Association of Mathematical and
          Computer Science Students (AMACSS). One hundred percent of the funding for Hack the Valley
          comes from corporate sponsor donations.
        backgroundColor: "brown"

      - headingText: What can I win?
        bodyText: >-
          It’s not about winning-it’s about exploring your passion while making great friends (which if you ask us, is a BONUS!!!). But if you’re a fan of winning, we’ve got you covered. We’ve got some great prizes in stock (will be announced soon). A panel of professional judges will select the best three hacks based on the following criteria: creativity, functionality, level of technical difficulty and quality. Most sponsors like to offer their own prizes as well for specific categories which are evaluated themselves.
        backgroundColor: "green"
sponsors:
  headingText: Sponsors
  types:
    - type: bronze
      logos:
        - alt: FDM Group
          src: /uploads/fdm-logo-new.png
          href: https://www.fdmgroup.com/
          width: 300px

        - alt: Rogers
          src: /uploads/rogers-logo.png
          href: https://www.rogers.com/
          width: 320px

        - alt: You.i TV
          src: /uploads/youitv-logo-transparent.png
          href: https://www.youi.tv/
          width: 300px

        - alt: Google Cloud Platform
          src: /uploads/googlecloud.png
          href: https://cloud.google.com/
          width: 600px
    - type: regular
      logos:
        - alt: Coinberry
          src: /uploads/coinberry-logo.png
          href: https://coinberry.com
          width: 180px

        - alt: .tech Domains
          src: /uploads/tech-domains-logo.png
          href: https://get.tech
          width: 130px
        
        - alt: Indico
          src: /uploads/indico-logo.png
          href: https://getindico.io
          width: 130px

        - alt: Hasura
          src: /uploads/hasura.svg
          href: https://hasura.io/
          width: 170px

        - alt: JetBrains
          src: /uploads/jetbrains.png
          href: https://www.jetbrains.com/
          width: 100px

        - alt: Red Bull
          src: /uploads/redbull.png
          href: https://www.redbull.com/ca-en/
          width: 130px

        - alt: Balsamiq
          src: /uploads/balsamiq.png
          href: https://balsamiq.com/
          width: 150px

        - alt: Google
          src: /uploads/google.png
          href: https://google.ca
          width: 160px

        - alt: Product Hunt
          src: /uploads/producthunt.svg
          href: https://www.producthunt.com/
          width: 170px

        - alt: EA
          src: /uploads/ea.png
          href: https://www.ea.com/en-ca
          width: 90px

        - alt: Wolfram
          src: /uploads/wolfram.png
          href: https://www.wolfram.com/language/
          width: 150px

        - alt: Studypool
          src: /uploads/studypool.png
          href: https://www.studypool.com/studyGuides
          width: 150px
          description: Literature Study Guides at Studypool.
        
        - alt: Muse
          src: /uploads/muse.png
          href: https://choosemuse.com/
          width: 150px

partners:
  headingText: Partners
  logos:
    - alt: FEM in STEM
      src: /uploads/feminstem-logo.png
      href: https://www.feminstem.com/
      width: 120px
    - alt: Omicron
      src: /uploads/omicron.png
      href: http://omcn.tech/
      width: 110px
    - alt: MLH
      src: /uploads/mlh.png
      href: https://mlh.io/
      width: 110px
    - alt: AMACSS
      src: /uploads/amacss.png
      href: https://www.amacss.org/
      width: 180px
    - alt: The Hub
      src: /uploads/thehub.png
      width: 130px

startups:
  headingText: Start-Ups
  logos:
    - alt: CheaprEats
      src: /uploads/cheapreats.png
      href: https://cheapreats.com
      width: 330px
    - alt: Weav
      src: /uploads/weav.png
      href: https://letsweav.com/
      width: 140px
    - alt: Jumpstart
      src: /uploads/jumpstart.png
      href: https://jumpstart.me/
      width: 150px
---
<nav id="nav" class="nav">
  <div class="nav__wrapper">
    <ul class="nav__items">
      {% for nav_item in page.nav %}
        <li class="nav__item{% if nav_item.modifier %} nav__item--{{ nav_item.modifier }}{% endif %}">
          <a
            onclick="toggleNavigation(false); scrollTo(this)"
            class="nav__item-link{% if nav_item.scroll %} scroll{% endif %}"
            href="{{ nav_item.link }}"
          >{{
            nav_item.text
          }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="nav__menu" onclick="toggleNavigation()">
      <div class="nav__bar nav__bar--top"></div>
      <div class="nav__bar nav__bar--mid"></div>
      <div class="nav__bar nav__bar--bot"></div>
    </div>
  </div>
</nav>

<section id="header" class="header htv__section">
  <div class="htv__content htv__content--header header__content">

    <h1 class="header__title">{{
      page.header.headingText
    }}</h1>

    <span class="header__subtitle">{{
      page.header.subtitleText
    }}</span>
    
    <div class="htv__leaf--fade header__leaf header__leaf--0">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade header__leaf header__leaf--1">
      <svg class="htv__leaf htv__leaf--flip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade header__leaf header__leaf--2">
      <svg class="htv__leaf htv__leaf--flip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
  </div>

  <div id="particles" style="pointer-events: none;"></div>

  <svg class="header__wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    <path fill="#e8e8e8" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
  	c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
  	c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z" />
  </svg>
</section>

<section id="about" class="about htv__section">
  <div class="htv__content about__container">

    <h2 class="htv__header about__heading">{{
      page.about.headingText
    }}</h2>

    <p class="about__body">{{
      page.about.bodyText
    }}</p>

    <div class="htv__leaf--fade about__leaf about__leaf--0">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade about__leaf about__leaf--1">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
  </div>
</section>

<section id="faq" class="faq htv__section">
  <div class="htv__content faq__container">
    <h2 class="htv__header faq__heading">FAQs</h2>
    <div class="faq__items">
      {% for column in page.faq.columns %}
        <div class="faq__column">
          {% for item in column %}
            <div class="faq__qa faq__qa--{{ forloop.index }} faq__qa--{{ item.backgroundColor }}">
              <h3 class="faq__qa_heading">{{ item.headingText }}</h3>
              <p class="faq__qa_body">{{ item.bodyText }}</p>
              
              {% if item.linkText %}
                <a
                  class="faq__qa_link"
                  href="{{ item.linkHref }}"
                  rel="noopener noreferrer"
                >{{
                  item.linkText
                }}</a>
              {% endif %}

            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--0">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--1">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
  </div>
</section>

<section id="sponsors" class="sponsors htv__section">
  <div class="htv__content">
    <h2 class="htv__header sponsors__heading">{{
      page.sponsors.headingText
    }}</h2>
    {% for item in page.sponsors.types %}
      <div class="sponsors__container sponsors__container--{{ item.type }}">
      {% for logo in item.logos %}
        <a
          class="sponsors__link"
          href="{{ logo.href }}?utm_source=hackthevalleyio&utm_medium=referral&utm_campaign=htv3"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="sponsors__logo"
            src="{{ logo.src }}"
            alt="{{ logo.alt }}"
            width="{{ logo.width }}"
            height="{{ logo.height }}"
          />
          <p>{% if logo.description %}
            {{ logo.description }}
            {% endif %}</p>
        </a>
      {% endfor %}
      </div>
    {% endfor %}
    <div class="htv__leaf--fade faq__leaf faq__leaf--0">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--1">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
  </div>
</section>

<section id="partners" class="sponsors htv__section">
  <div class="htv__content">
    <h2 class="htv__header sponsors__heading">{{
      page.partners.headingText
    }}</h2>
    <div class="sponsors__container">
      {% for logo in page.partners.logos %}
        <a
          class="sponsors__link"
          href="{{ logo.href }}?utm_source=hackthevalleyio&utm_medium=referral&utm_campaign=htv3"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="sponsors__logo"
            src="{{ logo.src }}"
            alt="{{ logo.alt }}"
            width="{{ logo.width }}"
            height="{{ logo.height }}"
          />
        </a>

        {% if logo.break %}
        <div style="width: 100%;"></div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--0">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--1">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
  </div>
</section>

<section id="startups" class="sponsors htv__section">
  <div class="htv__content">
    <h2 class="htv__header sponsors__heading">{{
      page.startups.headingText
      }}</h2>
    <div class="sponsors__container">
      {% for logo in page.startups.logos %}
      <a
        class="sponsors__link"
        href="{{ logo.href }}?utm_source=hackthevalleyio&utm_medium=referral&utm_campaign=htv3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="sponsors__logo"
          src="{{ logo.src }}"
          alt="{{ logo.alt }}"
          width="{{ logo.width }}"
          height="{{ logo.height }}"
        />
      </a>

      {% if logo.break %}
      <div style="width: 100%;"></div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--0">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
    <div class="htv__leaf--fade faq__leaf faq__leaf--1">
      <svg class="htv__leaf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 568.31 222.44">
        <path d="M425.8,56.89l.47-1.1-.42,1Z" />
        <path d="M71.71,109.67C269.07-91.1,426.27,55.79,426.27,55.79s-58,51.37-239.21,70.92c0,0,112.92,15.15,225.15-39.89l.09.11c16.07-7.69,97.5-47.15,132-74.11,38.32-30,23.64.73,5.52,10.32C534.09,31.43,436.07,79.66,410,92.47,286.36,338.11,30.69,164.22,0,142.12,7.82,146.68,31,153.22,71.71,109.67Z" />
      </svg>
    </div>
  </div>
</section>
