.about {
  background-color: $grey-color;
  padding: 7 * $spacing-unit $spacing-unit / 2 8 * $spacing-unit;

  @include media-query($on-palm) {
    padding: 3 * $spacing-unit $spacing-unit / 2 4 * $spacing-unit;
  }

  &__container {
    text-align: center;
    max-width: 750px;
    margin: auto;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 2 * $spacing-unit;
    
    @include media-query($on-palm) {
      font-size: 2rem;
      margin-bottom: 1 * $spacing-unit;
    }
  }
  
  &__body {
    font-size: 1.6rem;

    @include media-query($on-palm) {
      font-size: 1.2rem;
    }
  }
}
