.faq {

  &__items {
    display: flex;
  }

  &__column {
    width: 0;
    flex-grow: 1;
    padding: 0 10px;
  }

  &__leaf {
    &--0 {
      width: 200px;
      top: 20px;
      left: 50px;
      fill: #8DC53E;
    }
    &--1 {
      width: 200px;
      top: calc(100% - 80px);
      left: calc(100% - 220px);
      fill: #C79F59;
    }
  }

  &__qa {
    border-radius: 10px;
    color: white;
    padding: 30px;
    margin-bottom: 20px;
    &--red {
      background-color: #f64d34;
    }

    &--green {
      background-color: #7bbe48;
    }

    &--brown {
      background-color: #c29356;
    }

    &_heading {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: $spacing-unit / 2;
    }

    &_body {
      margin-bottom: $spacing-unit;
    }

    &_link {
      display: inline-block;
      text-transform: uppercase;
      min-width: 80px;
      padding: 5px 15px;
      border-radius: 16px;
      border: 1px solid white;
      color: white;
      text-decoration: none;
      transition: 0.4s ease-in-out box-shadow,
        0.4s ease-in-out background-color,
        0.2s ease-in-out transform;

      &:hover,
      &:active,
      &:focus {
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
        transform: scale(1.05);
        outline: none;
      }

      &:active {
        transform: translateY(3px);
      }

      &:visited {
        color: white;
      }
    }
  }
}

// Animations
.htv__section--show {
  .faq {
    &__heading {
      animation: faq__heading 0.8s ease-in-out 0s backwards;
      @keyframes faq__heading {
        from { opacity: 0; transform: translate3d(0, -60px, 0) }
        to { opacity: 1; transform: translate3d(0, 0, 0) }
      }
    }
    &__qa {
      &--1 {
        animation: faq__qa 0.8s ease-in-out 0s backwards;
      }
      &--2 {
        animation: faq__qa 0.8s ease-in-out 0.4s backwards;
      }
      &--3 {
        animation: faq__qa 0.8s ease-in-out 0.8s backwards;
      }
      @keyframes faq__qa {
        from { opacity: 0; transform: translate3d(0, -40px, 0) }
        to { opacity: 1; transform: translate3d(0, 0, 0) }
      }
    }
  }
}

@include media-query($on-laptop) {
  .faq {
    &__items {
      flex-direction: column;
    }
    &__column {
      width: 100%;
      padding: 0;
    }
  }
}

@include media-query($on-palm) {
  .faq {
    &__leaf {
      &--0 {
        width: 140px;
        top: 20px;
        left: 50px;
      }
      &--1 {
        width: 140px;
        top: calc(100% - 80px);
        left: calc(100% - 160px);
      }
    }
  }
}