.header {
  position: relative;
  color: $grey-color;
  background-color: $brand-color;
  padding-top: 6 * $spacing-unit;
  
  &__container {
    margin: auto;
    max-width: 1500px;
    padding: 0 $spacing-unit;
  }

  &__title {
    font-family: $heading-font-family;
    font-size: 8.5rem;
    line-height: 8.5rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 ($spacing-unit / 2) 0;
  }
  
  &__subtitle {
    font-size: 1rem;
    letter-spacing: 4px;
    color: #aaaaaa;
    font-weight: normal;
    margin: 0;
  }

  &__wave {
    background-image: url('/assets/waves.svg');
    transform: rotate(180deg);
    background-size: cover;
    margin-top: 3 * $spacing-unit;
    height: 50px;
    width: 100%;
  }

  &__subscribe {
    margin: auto;
    letter-spacing: 3px;
    max-width: 400px;
    padding-top: 5 * $spacing-unit;
    
    &-email {
      width: 100%;
      text-align: center;
      color: $grey-color-dark;
      background-color: transparent;
      padding: $spacing-unit / 4;
      border: 1px $grey-color-dark solid;
      border-radius: 50px;
      font-size: 1.25rem;
      transition: 0.5s ease-in-out box-shadow;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: 0 0 8px 2px rgba(200, 200, 200, 0.7);
      }
    }
  }

  & .particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

@include media-query($on-laptop) {
  .header {
    padding-top: 3 * $spacing-unit;
    &__container {
      max-width: 720px;
    }
    &__title {
      font-size: 4rem;
      line-height: 4rem;
    }
    &__subscribe {
      max-width: 320px;
      padding-top: 3 * $spacing-unit;
    }
    &__wave {
      margin-top: 2.5 * $spacing-unit;
    }
  }
}

@include media-query($on-palm) {
  .header {
    padding-top: 1.5 * $spacing-unit;
    &__container {
      max-width: none;
    }
    &__title {
      font-size: 2rem;
      line-height: 2rem;
    }
    &__subtitle {
      font-size: 0.8rem;
    }
    &__subscribe {
      max-width: 220px;
      padding-top: 1.5 * $spacing-unit;
      &-email {
        font-size: 1rem;
      }
    }
    &__wave {
      margin-top: 2.5 * $spacing-unit;
    }
  }
}