.sponsors {
  background-color: $grey-color;
  padding: 6 * $spacing-unit $spacing-unit / 2;

  @include media-query($on-palm) {
    padding: 4 * $spacing-unit $spacing-unit / 2;
  }

  &__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 2 * $spacing-unit;
    text-align: center;
    
    @include media-query($on-palm) {
      font-size: 2rem;
      margin-bottom: 1 * $spacing-unit;
    }
  }

  &__link {
    display: inline-block;
    margin: 30px;
    transition: 0.2s ease-out transform;

    &:hover {
      transform: scale(1.15);
    }
  }
}