<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script>

  // Variables
  const threshold = 0.2;
  const intersectionTargets = document.querySelectorAll("#htv section");
  const intersectionObserver = new IntersectionObserver(
    entries => entries.forEach(
      ({ isIntersecting, target }) => {
        if (isIntersecting) {
          target.classList.add("htv__section--show");
          if (target.id === "sponsors") { loadLogos() }
          intersectionObserver.unobserve(target);
        }
      }
    ),
    { threshold: [threshold] }
  );

  // JS solution for logos (because safari :c)
  const loadLogos = () => {
    const logos = document.querySelectorAll("#sponsors .sponsors__link");
    Array.from(logos).map(({ style }, i) => {
      style.animation = `sponsors__fade 0.8s ease-in-out ${i * 0.2}s backwards`
    })
  }

  particlesJS.load('header', 'assets/particles.json'); // Setup particles
  // Setup scrollspy
  window.requestAnimationFrame(() =>
    Array.from(intersectionTargets).forEach(target =>
      intersectionObserver.observe(target)
    )
  )

  // Get on scroll event (Using passive for better performance)
  const onscroll = e => {
    const top = window.pageYOffset || document.documentElement.scrollTop;
    const { classList } = document.getElementById("nav");
    if (top > 200) {
      classList.add("nav-active");
    } else {
      classList.remove("nav-active");
    }
  };

  window.addEventListener("scroll", onscroll, { passive: true });

  const toggleNavigation = () => {
    const { classList } = document.getElementById("nav");
    if (classList.contains("nav-extended")) {
      classList.remove("nav-extended");
    } else {
      classList.add("nav-extended");
    }
  }


</script>