<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>

  const duration = 80;
  const offset = 86;
  const intersectionTargets = document.querySelectorAll("#htv section");

  const normalcdf = (Z) => {
    const X = (Z - (duration / 2)) / (duration / 10);
    const T = 1 / (1 + .2316419 * Math.abs(X));
    const D = .3989423 * Math.exp(-X * X / 2);
    const P = D * T * (.3193815 + T * (-.3565638 + T * (1.781478 + T * (-1.821256 + T * 1.330274))));
    return Math.round(100000 * (X > 0 ? 1 - P : P)) / 100000;
  }
  const newArray = new Array(duration).fill(0);
  const curve = newArray.map((i, key) => normalcdf(key));

  // JS solution for logos (because safari :c)
  const loadLogos = id => {
    const logos = document.querySelectorAll(`#${id} .sponsors__link`);
    Array.from(logos).map(({ style }, i) => {
      style.animation = `sponsors__fade 0.8s ease-in-out ${i * 0.2}s backwards`
    })
  }

  const handleScroll = () => {
    const top = window.pageYOffset || document.documentElement.scrollTop;
    const diff = window.innerHeight * 0.9;
    items = items.filter(item => {
      if (item.top <= top + diff && !item.target.classList.contains("htv__section--show")) {
        item.target.classList.add("htv__section--show");
        const id = item.target.id;
        switch(id) {
          case "sponsors":
          case "partners":
          case "startups":
            loadLogos(id); break;
        }
      } else {
        return item;
      }
    });
  }

  particlesJS.load('header', 'assets/particles.json'); // Setup particles
  // Setup scrollspy
  let items = Array.from(intersectionTargets).map(target => {
    const { offsetTop, scrollTop, clientTop } = target;
    const top = offsetTop - scrollTop + clientTop;
    return { top, target };
  });

  // Get on scroll event (Using passive for better performance)
  const onscroll = e => {
    const top = window.pageYOffset || document.documentElement.scrollTop;
    const { classList } = document.getElementById("nav");
    if (top > 100) {
      classList.add("nav--active");
    } else {
      classList.remove("nav--active");
    }
    handleScroll();
  };

  window.addEventListener("scroll", onscroll, { passive: true });
  handleScroll();

  const toggleNavigation = (state) => {
    const { classList } = document.getElementById("nav");
    switch (state) {
      case true:
        classList.add("nav--extended"); break;
      case false:
        classList.remove("nav--extended"); break;
      default:
        classList.toggle("nav--extended"); break;
    }
  }


  let i = 0;
  let diff = 0;
  let from = 0;
  let bounce = false;

  const step = () => {
    window.scrollTo(0, (curve[i] * diff) + from);
    i++;
    if (i < duration) {
      window.requestAnimationFrame(step);
    } else {
      bounce = false;
    }
  }

  const scrollTo = (el) => {
    el.preventDefault();
    if (!bounce) {
      history.pushState("", "", el.target.href);
      const target = document.getElementById(location.hash.slice(1));
      from = window.pageYOffset || document.documentElement.scrollTop;
      const to = target.offsetTop - target.scrollTop + target.clientTop - offset;

      diff = to - from;
      i = 0;
      step();
      bounce = true;
    }
  }

  Array.from(document.querySelectorAll(".scroll")).forEach(el => {
      el.addEventListener("click", scrollTo);
  })
</script>
