@font-face {
  font-family: 'hackthevalley';
  src: url("../assets/hackthevalley-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../assets/hackthevalley-webfont.woff2") format("woff2"), url("../assets/hackthevalley-webfont.woff") format("woff"), url("../assets/hackthevalley-webfont.svg") format("svg");
  /* Legacy iOS */ }
.htv {
  overflow: hidden; }
  .htv__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 1100px;
    padding: 30px 60px 90px; }
    .htv__content--header {
      max-width: 1300px;
      padding: 0 60px 30px; }
  .htv__header {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    z-index: 1; }
  .htv__section {
    padding: 30px 0; }
    .htv__section:not(.htv__section--show) > * {
      opacity: 0; }
    .htv__section:nth-of-type(even) {
      background-color: #e8e8e8; }
    .htv__section:nth-of-type(odd) {
      background-color: #ffffff; }
    .htv__section.header {
      background-color: #1f1f1f; }
  .htv__leaf {
    height: auto; }
    .htv__leaf--flip {
      transform: scaleX(-1); }
    .htv__leaf--fade {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 0; }
      .htv__section--show .htv__leaf--fade {
        animation: htv__leaf 0.8s ease-in-out 0.2s backwards; }
@keyframes htv__leaf {
  from {
    opacity: 0;
    transform: translate3d(100px, -140px, 0) rotate(30deg); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0deg); } }
@media screen and (max-width: 800px) {
  .htv__content {
    max-width: 720px; } }
@media screen and (max-width: 600px) {
  .htv__content {
    max-width: none;
    padding: 30px 36px 90px; }
  .htv__header {
    font-size: 2.5rem;
    margin-bottom: 30px; } }
/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
* Basic styling
*/
body {
  font: 400 16px/1.5 "Poppins", sans-serif;
  color: #3a3a3a;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
* `main` element
*/
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle; }

/**
* Figures
*/
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
* Lists
*/
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
* Links
*/
a {
  color: #1f1f1f;
  text-decoration: none; }
  a:visited {
    color: black; }
  a:hover {
    color: #3a3a3a;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
* Blockquotes
*/
blockquote {
  color: #e8e8e8;
  border-left: 4px solid white;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
* Code formatting
*/
pre,
code {
  font-size: 15px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
* Clearfix
*/
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
* Icons
*/
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #e8e8e8;
  padding-right: 5px;
  vertical-align: text-top; }

.social-media-list li + li {
  padding-top: 5px; }

/**
* Tables
*/
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #686868;
  border-collapse: collapse;
  border: 1px solid white; }
  table tr:nth-child(even) {
    background-color: white; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: white;
    border: 1px solid whitesmoke;
    border-bottom-color: #e0e0e0; }
  table td {
    border: 1px solid white; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #a8a8a8;
  border-bottom: 1px solid white;
  min-height: 55.95px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #a8a8a8; }

.site-nav {
  float: right;
  line-height: 54px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #3a3a3a;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #ffffff;
      border: 1px solid white;
      border-radius: 5px;
      text-align: right; }
      .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          fill: #a8a8a8; }
      .site-nav input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

.site-footer {
  padding: 30px 0;
  color: #e8e8e8;
  background-color: #1f1f1f; }
  .site-footer .social-media-list a {
    color: #e8e8e8; }
    .site-footer .social-media-list a:hover {
      color: #a8a8a8; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  opacity: 0.7; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -15px; }

.footer-col {
  text-align: center;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
.nav {
  display: flex;
  position: fixed;
  color: white;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
  .nav--active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    color: #3a3a3a; }
  .nav__wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 60px;
    max-width: 1300px;
    margin: auto; }
  .nav__items {
    display: flex;
    margin: 0;
    width: 100%;
    list-style-type: none;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .nav__item {
    margin: 15px 25px;
    padding: 5px; }
    .nav__item--register {
      transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
      margin: 5px 8px 5px auto;
      border: 2px solid white;
      border-radius: 4px;
      padding: 8px 15px; }
      .nav__item--register:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      .nav--active .nav__item--register {
        border-color: #3a3a3a; }
        .nav--active .nav__item--register:hover {
          background-color: rgba(0, 0, 0, 0.07); }
  .nav__item-link:visited, .nav__item-link:link, .nav__item-link:active {
    color: inherit;
    text-decoration: none; }
  .nav__menu {
    display: none;
    z-index: 4;
    width: 30px;
    cursor: pointer;
    flex-direction: column; }
  .nav__bar {
    width: 100%;
    height: 3px;
    margin: 3px 0;
    background-color: white;
    transition: background-color 0.3s ease-in-out; }
    .nav__bar--top, .nav__bar--bot {
      transition: transform 0.3s ease-in-out; }
    .nav__bar--mid {
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }
    .nav--active .nav__bar, .nav--extended .nav__bar {
      background-color: #3a3a3a; }
    .nav--extended .nav__bar--top {
      transform: translate3d(0, 9px, 0) rotate(-315deg); }
    .nav--extended .nav__bar--mid {
      transform: translate3d(0, 0, 0) rotate(360deg);
      opacity: 0; }
    .nav--extended .nav__bar--bot {
      transform: translate3d(0, -9px, 0) rotate(315deg); }

@media screen and (max-width: 800px) {
  .nav__wrapper {
    max-width: 720px; } }
@media screen and (max-width: 800px) {
  .nav--extended {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    color: #3a3a3a; }
  .nav__wrapper {
    width: 100%;
    padding: 28.5px 40px; }
  .nav__items {
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 86px 8px 0 0;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    z-index: -1;
    pointer-events: none;
    opacity: 0; }
    .nav--extended .nav__items {
      pointer-events: all;
      opacity: 1; }
  .nav__item {
    transition: transform 0.3s ease-in-out; }
    .nav__item:hover {
      transform: translate3d(-6px, 0, 0); }
  .nav__menu {
    display: flex; }
  .nav__wrapper {
    max-width: none; } }
.header {
  position: relative;
  color: #e8e8e8;
  background-color: #1f1f1f;
  padding: 240px 0 240px;
  display: flex; }
  .header__apply-button, .header__apply-button:link, .header__apply-button:visited, .header__apply-button:active {
    color: white;
    background-color: transparent;
    display: inline-block;
    margin-top: 20px;
    font-size: 25px;
    border-left: white 3px solid;
    padding-left: 15px;
    opacity: 0.7;
    text-decoration: none;
    transition: all ease 0.5s; }
    .header__apply-button:hover, .header__apply-button:link:hover, .header__apply-button:visited:hover, .header__apply-button:active:hover {
      opacity: 1;
      padding-left: 20px;
      transition: all ease 0.5s; }
  .header__content {
    z-index: 1; }
  .header__title {
    font-family: "hackthevalley", sans-serif;
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px 0; }
  .header__subtitle {
    font-size: 1rem;
    letter-spacing: 4px;
    color: #aaaaaa;
    font-weight: normal;
    margin: 0; }
  .header__wave {
    transform: rotate(180deg);
    background-size: cover;
    height: 50px;
    width: 100%;
    z-index: 1;
    position: absolute;
    margin: auto auto 0;
    top: auto;
    right: 0;
    bottom: -2px;
    left: 0; }
  .header__leaf--0 {
    fill: #8DC53E;
    top: -80px;
    left: 560px;
    width: 260px; }
  .header__leaf--1 {
    fill: #C79F59;
    top: 340px;
    left: 70px;
    width: 160px; }
  .header__leaf--2 {
    fill: #C6C240;
    top: -36px;
    left: 60px;
    width: 145px; }
    .header__leaf--2 > * {
      transform: scaleX(-1) rotate(26deg); }
  .header__subscribe {
    margin: auto;
    letter-spacing: 3px;
    max-width: 400px;
    padding-top: 120px; }
    .header__subscribe-email {
      width: 100%;
      text-align: center;
      color: #a8a8a8;
      background-color: transparent;
      padding: 7.5px 15px;
      border: 1px #a8a8a8 solid;
      border-radius: 50px;
      font-size: 1.25rem;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; }
      .header__subscribe-email:hover, .header__subscribe-email:focus {
        outline: none;
        background-color: #e8e8e8;
        color: #1f1f1f; }
  .header .particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.5; }

.htv__section--show .header__title {
  animation: header__title 0.8s ease-in-out 0s backwards; }
@keyframes header__title {
  from {
    opacity: 0;
    transform: translate3d(-40%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.htv__section--show .header__subtitle {
  animation: header__subtitle 0.8s ease-in-out 0s backwards; }
@keyframes header__subtitle {
  from {
    opacity: 0;
    transform: translate3d(-40%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.htv__section--show .header__subscribe {
  animation: header__subscribe 0.8s ease-in-out 0s backwards; }
@keyframes header__subscribe {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0) scale3d(0, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); } }
@media screen and (max-width: 800px) {
  .header {
    padding: 180px 0 180px; }
    .header__title {
      font-size: 4rem;
      line-height: 4rem; }
    .header__subscribe {
      max-width: 320px;
      padding-top: 90px; }
    .header__leaf--0 {
      top: 65px;
      left: 370px;
      width: 160px; }
      .header__leaf--0 > * {
        transform: rotate(-20deg); }
    .header__leaf--1 {
      top: 250px;
      left: 40px;
      width: 120px; }
    .header__leaf--2 {
      top: -36px;
      left: 60px;
      width: 105px; } }
@media screen and (max-width: 600px) {
  .header {
    padding: 120px 0 120px;
    text-align: center; }
    .header__apply-button, .header__apply-button:link, .header__apply-button:visited, .header__apply-button:active {
      border: none;
      padding: 0;
      margin-top: 40px; }
      .header__apply-button:hover, .header__apply-button:link:hover, .header__apply-button:visited:hover, .header__apply-button:active:hover {
        padding: 0; }
    .header__title {
      font-size: 2rem;
      line-height: 2rem; }
    .header__subtitle {
      font-size: 0.8rem; }
    .header__leaf {
      display: none; }
    .header__subscribe {
      max-width: 220px;
      padding: 45px 0; }
      .header__subscribe-email {
        font-size: 1rem; } }
.about__container {
  text-align: center; }
.about__body {
  font-size: 1.3rem; }
.about__leaf--0 {
  width: 200px;
  top: 20px;
  left: 50px;
  fill: #8DC53E; }
.about__leaf--1 {
  width: 200px;
  top: calc(100% - 80px);
  left: calc(100% - 220px);
  fill: #C79F59; }

.htv__section--show .about__heading {
  animation: about__heading 0.8s ease-in-out 0s backwards; }
@keyframes about__heading {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.htv__section--show .about__body {
  animation: about__body 0.8s ease-in-out 0s backwards; }
@keyframes about__body {
  from {
    opacity: 0;
    transform: translate3d(0, 60px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@media screen and (max-width: 600px) {
  .about__header {
    font-size: 2rem;
    margin-bottom: 30px; }
  .about__body {
    font-size: 1.2rem; }
  .about__leaf--0 {
    width: 140px;
    top: 20px;
    left: 50px; }
  .about__leaf--1 {
    width: 140px;
    top: calc(100% - 80px);
    left: calc(100% - 160px); } }
.faq a:link,
.faq a:visited {
  color: white;
  text-decoration: underline; }
.faq__items {
  display: flex; }
.faq__column {
  width: 0;
  flex-grow: 1;
  padding: 0 10px; }
.faq__leaf--0 {
  width: 200px;
  top: 20px;
  left: 50px;
  fill: #8DC53E; }
.faq__leaf--1 {
  width: 200px;
  top: calc(100% - 80px);
  left: calc(100% - 220px);
  fill: #C79F59; }
.faq__qa {
  border-radius: 10px;
  color: white;
  padding: 30px;
  margin-bottom: 20px; }
  .faq__qa--red {
    background-color: #f64d34; }
  .faq__qa--green {
    background-color: #7bbe48; }
  .faq__qa--brown {
    background-color: #c29356; }
  .faq__qa_heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px; }
  .faq__qa_body {
    margin-bottom: 30px; }
  .faq__qa_link {
    display: inline-block;
    text-transform: uppercase;
    min-width: 80px;
    padding: 5px 15px;
    border-radius: 16px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.4s ease-in-out box-shadow, 0.4s ease-in-out background-color, 0.2s ease-in-out transform; }
    .faq__qa_link:hover, .faq__qa_link:active, .faq__qa_link:focus {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
      transform: scale(1.05);
      outline: none; }
    .faq__qa_link:active {
      transform: translateY(3px); }
    .faq__qa_link:visited {
      color: white; }

.htv__section--show .faq__heading {
  animation: faq__heading 0.8s ease-in-out 0s backwards; }
@keyframes faq__heading {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.htv__section--show .faq__qa--1 {
  animation: faq__qa 0.8s ease-in-out 0s backwards; }
.htv__section--show .faq__qa--2 {
  animation: faq__qa 0.8s ease-in-out 0.4s backwards; }
.htv__section--show .faq__qa--3 {
  animation: faq__qa 0.8s ease-in-out 0.8s backwards; }
@keyframes faq__qa {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@media screen and (max-width: 800px) {
  .faq__items {
    flex-direction: column; }
  .faq__column {
    width: 100%;
    padding: 0; } }
@media screen and (max-width: 600px) {
  .faq__leaf--0 {
    width: 140px;
    top: 20px;
    left: 50px; }
  .faq__leaf--1 {
    width: 140px;
    top: calc(100% - 80px);
    left: calc(100% - 160px); } }
.sponsors__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
.sponsors__leaf--0 {
  width: 200px;
  top: 20px;
  left: 50px;
  fill: #8DC53E; }
.sponsors__leaf--1 {
  width: 200px;
  top: calc(100% - 80px);
  left: calc(100% - 220px);
  fill: #C79F59; }
.sponsors__link {
  display: inline-block;
  text-align: center;
  margin: 20px;
  width: calc(20% - 40px);
  transition: 0.2s ease-out transform; }
  .sponsors__link:hover {
    transform: scale(1.15) translate3d(0, 0, 0); }
  .sponsors__container--bronze .sponsors__link {
    width: calc(50% - 40px); }
  .sponsors__container--regular .sponsors__link {
    width: calc(33% - 40px); }
@keyframes sponsors__fade {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.htv__section--show .sponsors__heading {
  animation: sponsors__heading 0.8s ease-in-out 0s backwards; }
@keyframes sponsors__heading {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@media screen and (max-width: 800px) {
  .sponsors__container {
    margin-bottom: 80px; }
    .sponsors__container:last-child {
      margin-bottom: 0; }
  .sponsors__container--bronze .sponsors__link {
    width: calc(80% - 60px); }
  .sponsors__container--regular .sponsors__link {
    width: calc(50% - 60px); } }
@media screen and (max-width: 600px) {
  .sponsors__container {
    flex-direction: column;
    margin-bottom: 40px; }
    .sponsors__container:last-child {
      margin-bottom: 0; }
  .sponsors__logo {
    width: 60%; }
    .sponsors__container--bronze .sponsors__logo {
      width: 100%; }
  .sponsors__link {
    width: calc(100% - 60px) !important; }
  .sponsors__leaf--0 {
    width: 140px;
    top: 20px;
    left: 50px; }
  .sponsors__leaf--1 {
    width: 140px;
    top: calc(100% - 80px);
    left: calc(100% - 160px); } }
