.home-0 {
  position: relative;
  color: $grey-color;
  background-color: $brand-color;
  padding-top: 6 * $spacing-unit;
  padding-bottom: 3 * $spacing-unit;
    
  @include media-query($on-laptop) {
    padding-top: 3 * $spacing-unit;
    padding-bottom: 2.5 * $spacing-unit;
  }

  @include media-query($on-palm) {
    padding-top: 1.5 * $spacing-unit;
    padding-bottom: 2.5 * $spacing-unit;
  }
  
  &--container {
    margin: auto;
    max-width: 1500px;
    padding: 0 $spacing-unit;
    
    @include media-query($on-laptop) {
      max-width: 720px;
    }

    @include media-query($on-palm) {
      max-width: none;
    }
  }

  &--title {
    font-family: $heading-font-family;
    font-size: 8.5rem;
    line-height: 8.5rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 ($spacing-unit / 2) 0;
    
    @include media-query($on-laptop) {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include media-query($on-palm) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  
  &--subtitle {
    font-size: 1rem;
    letter-spacing: 4px;
    color: #aaaaaa;
    font-weight: normal;
    margin: 0;

    @include media-query($on-palm) {
      font-size: 0.8rem;
    }
  }

  &--subscribe {
    margin: auto;
    letter-spacing: 3px;
    max-width: 400px;
    padding-top: 5 * $spacing-unit;
    
    @include media-query($on-laptop) {
      max-width: 320px;
      padding-top: 3 * $spacing-unit;
    }
    
    @include media-query($on-palm) {
      max-width: 220px;
      padding-top: 1.5 * $spacing-unit;
    }
    
    &-email {
      width: 100%;
      text-align: center;
      color: $grey-color-dark;
      background-color: transparent;
      padding: $spacing-unit / 4;
      border: 1px $grey-color-dark solid;
      border-radius: 50px;
      font-size: 1.25rem;
      transition: 0.5s ease-in-out box-shadow;
      
      @include media-query($on-palm) {
        font-size: 1rem;
      }

      &:hover,
      &:focus {
        outline: none;
        box-shadow: 0 0 8px 2px rgba(200, 200, 200, 0.7);
      }
    }
  }
}

.home-1 {
  background-color: $grey-color;
  padding: $spacing-unit;
}

.home-2 {
  background-color: $background-color;
  padding: $spacing-unit;
}

.home-3 {
  background-color: $grey-color;
  padding: $spacing-unit;
}
